<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <link type="text/css" rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body>
  <header>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/">
          <h1 class="d-inline-block align-top text-center text-uppercase">{{ title }}</h1>
        </a>
        <div>
          <button class="btn btn-light" type="submit">Se connecter</button>
          <a href="/user/create"><button class="btn btn-light" type="submit">S'enregistrer</button></a>
        </div>
      </div>
    </nav>
  </header>
  <div class="container mt-4">
    <a href="/distortion/create" style="text-decoration: inherit; color: inherit">
      <button type="button" class="btn btn-success text-right">
        <svg class="bi bi-plus" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M8 3.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H4a.5.5 0 010-1h3.5V4a.5.5 0 01.5-.5z"
            clip-rule="evenodd" />
          <path fill-rule="evenodd" d="M7.5 8a.5.5 0 01.5-.5h4a.5.5 0 010 1H8.5V12a.5.5 0 01-1 0V8z"
            clip-rule="evenodd" />
        </svg>
        Ajouter une malformation
      </button>
    </a>
    <div class="row">
      {{#distortions}}
      <div class="col-3 mt-3">
        <div class="card">
          <a href="distortion/show/{{ id }}" style="text-decoration: inherit; color: inherit">
            <img src="{{ image }}" style="height: 150px; width: 100%">
          </a>
          <div class="card-body text-wrap text-truncate mb-3">
            <a href="distortion/show/{{ id }}" style="color: inherit">
              <div class="card-title text-uppercase font-weight-bold">{{ title }}</div>
            </a>
            <a href="distortion/show/{{ id }}" style="text-decoration: inherit; color: inherit">
              <p>{{ description }}</p>
            </a>
          </div>
          <a href="distortion/show/{{ id }}" style="text-decoration: inherit; color: inherit">
            <div class="card-footer">
              <p>Découvert par {{ finder }} en {{ release_date }}</p>
            </div>
          </a>
        </div>
      </div>
      {{/distortions}}
    </div>
  </div>
</body>

</html>